In [8]:
import streamlit as st
import pandas as pd
import numpy as np
from pathlib import Path

dirPadrao = Path('.').absolute()
dirData = dirPadrao / 'data'
csvSpotify = dirData / '01 Spotify.csv'

In [11]:
# Carregar os dados
df_spotify =  pd.read_csv(csvSpotify)

In [28]:
df_artists = pd.DataFrame(df_spotify['Artist'].unique()).sort_values(by=0, ascending=True)
df_artists.columns = ['Artist']
df_artists.set_index('Artist', inplace=True)
df_artists['_songs'] = df_spotify['Artist'].value_counts().sort_index()

df_artists

                _songs
Artist
$NOT                10
$uicideboy$         10
(G)I-DLE            10
*NSYNC              10
070 Shake           10
...                ...
will.i.am           10
Ángela Aguilar      10
Ñejo                10
Ñengo Flow          10
Øneheart            10

[2074 rows x 1 columns]

In [40]:
(df_spotify['Artist'].unique())

array(['Gorillaz', 'Red Hot Chili Peppers', '50 Cent', ..., 'LE SSERAFIM',
       'ThxSoMch', 'SICK LEGEND'], shape=(2074,), dtype=object)